* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .App, .full-height {
    height: 100%;
}

#chat-list {
    flex: 1;
    overflow-y: scroll;
}

/*.video-container {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/

/*video {*/
/*    display: block;*/
/*}*/

.my-video-container {
    position: relative;
}

.meet-icon-container {
    width: 100%;
    top: 100%;
    transform: translate(0, -100%);
    padding-bottom: 5px;
    position: absolute;
}

.meet-icon-container > div {
    font-size: 14pt;
    cursor: pointer;
    margin: 0 10px;
}

.chat-control {
    background-color: rgba(112, 112, 112, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.chat-control-offed{
    background-color: rgba(255, 0, 0, 0.5);
}